<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/layout.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body id="layout">
    <header>
   		<div class="wrap flex">
   				<div>
   				<a href="/">
   						<img src="/img/mypetLogo.png" style="width: 230px; margin-top: 10px;">
   				</a>
   				</div>
   				<div>
	   				<div class="log-section">
	   					<a href="/sign-in" sec:authorize="isAnonymous()">로그인</a>
						<a href="/sign-up" sec:authorize="isAnonymous()">회원가입</a>
						<a href="/" sec:authorize="isAuthenticated()">내정보</a>
						<a href="/logout" sec:authorize="isAuthenticated()">로그아웃</a>
						<a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">관리자페이지</a>
					</div>
					<div class="cate">
						<a href="/">강아지</a>
						<a href="/">고양이</a>
						<a href="/">소동물</a>
						<a href="/">수중생물</a>
						<a href="/">파충류</a>
						<a href="/">조류</a>
					</div>
				</div>
		</div>
   	</header>
</body>
</html>