<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/layout.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body id="layout">
    <header>
   		<div class="wrap">

   					<!-- <p th:text="${#authentication.principal.name}"></p>
   					<p th:text="${#authentication.principal.mno}"></p> -->
   			
   				<div style="text-align: center;">
   					<a href="/sign-in" sec:authorize="isAnonymous()">로그인</a>
					<a href="/sign-up" sec:authorize="isAnonymous()">회원가입</a>
					<a href="/" sec:authorize="isAuthenticated()">내정보</a>
					<a href="/logout" sec:authorize="isAuthenticated()">로그아웃</a>
				</div>
		</div>
   	</header>
</body>
</html>