<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/commons/common.css">
<link rel="stylesheet" href="/css/sign/sign-up.css">
<th:block th:insert="~{layout/layout :: head}"/>
<title>회원가입</title>
</head>

<body>
	<th:block th:insert="~{layout/layout :: header}"/>
	<h1>회원가입 페이지</h1>
	<div class="login_box">
		<form action="/join" method="post">
			<div>
				<span>이메일(ID)</span>
				<input type="email" name="email" placeholder="이메일을 입력하세요" required="required">
			</div>
			<div>
				<span>이름</span>
				<input type="text" name="name" placeholder="이름" required="required">
			</div>
			<div>
				<span>닉네임</span>
				<input type="text" name="nickName" placeholder="닉네임" required="required">
			</div>
			<div>
				<span>비밀번호</span>
				<input type="password" name="pass" placeholder="비밀번호를 입력하세요" required="required">
			</div>
			<button class="log_btn">회원가입</button>
		</form>
	</div>
</body>
</html>