<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/commons/common.css">
<th:block th:insert="~{layout/layout :: head}"/>
<title>로그인</title>
</head>

<body>
	<th:block th:insert="~{layout/layout :: header}"/>
		<p>로그인 페이지</p>
		<form action="/sign-in" method="post">
			<input type="text" name="email" placeholder="이메일(ID)을 입력하세요">
			<input type="password" name="pass" placeholder="비밀번호를 입력하세요">
			<button>로그인</button>
		</form>
</body>
</html>