@charset "UTF-8";

.login_box {
    border: 1px solid #777;
    width: 50%;
    margin: 30px auto;
    padding: 30px 10%;
    text-align: center;
    border-radius: 10px;
}
.login_box input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #777;
}
.log_btn {
    width: 100%;
    height: 40px;
    display: inline-block;
    background-color: #aad5ff;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: #636363;
}
.login_box *:not(.log_btn){
	margin-bottom: 20px;
}
.reg{
	display: inline-block;
	width: 100px;
    height: 30px;
    text-align: center;
    background-color: #aad5ff;
    line-height: 30px;
    float: right;
    border-radius: 10px;
    font-size: 14px;
    color: #636363;
}